<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UCSY 15th Batch Charity Foundation - Thank You</title>
  <link href='http://fonts.googleapis.com/css?family=Molle:400italic' rel='stylesheet' type='text/css'>
  <style type="text/css">
    body {
      font-family: 'Molle', cursive;
    }
  </style>
</head>
<body>
  <h1 style="text-align: center;">Thank you for your registration!</h1>
</body>
</html>
